# .env.example

# Database connection URL
DATABASE_URL=your_database_url_here

# Secret key for your application
SECRET_KEY=your_secret_key_here

# Debug mode toggle
DEBUG=True

# Allowed hosts for your application
ALLOWED_HOSTS=your_allowed_hosts_here

# Alpha Vantage API Key
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key_here

# Redis connection URL
REDIS_URL=your_redis_url_here